In [16]:
import pandas as pd
import numpy as np

In [17]:
import sys, os
sys.path.append(os.path.abspath(os.path.join(os.path.dirname("../scripts"))))

In [21]:
from scripts.data_cleaning import treat_outliers_with_mean, clean_data_1, clean_data_2
from scripts.data_extraction import read_csv
from scripts.data_check import check_missing_value

In [5]:
data = read_csv("../data/MachineLearningRating_v3.csv")

extracting data from csv...

c:\Users\HP\Desktop\10 Acadamy\AIM  Week 3\AIM_WEEK_3\scripts\data_extraction.py:7: DtypeWarning: Columns (0,1,3,14,18,20,23,24,25,27,29,32,37,38,39,41,50,51) have mixed types. Specify dtype option on import or set low_memory=False.
  data=pd.read_csv(file_path)

In [6]:
print(data.head())

               Column1   Column2              Column3          Column4  \
0  UnderwrittenCoverID  PolicyID     TransactionMonth  IsVATRegistered
1               145249     12827  2015-03-01 00:00:00             True
2               145249     12827  2015-05-01 00:00:00             True
3               145249     12827  2015-07-01 00:00:00             True
4               145255     12827  2015-05-01 00:00:00             True

       Column5            Column6 Column7   Column8              Column9  \
0  Citizenship          LegalType   Title  Language                 Bank
1               Close Corporation      Mr   English  First National Bank
2               Close Corporation      Mr   English  First National Bank
3               Close Corporation      Mr   English  First National Bank
4               Close Corporation      Mr   English  First National Bank

          Column10  ...                          Column43       Column44  \
0      AccountType  ...                    ExcessSelected  CoverCategory
1  Current account  ...             Mobility - Windscreen     Windscreen
2  Current account  ...             Mobility - Windscreen     Windscreen
3  Current account  ...             Mobility - Windscreen     Windscreen
4  Current account  ...  Mobility - Metered Taxis - R2000     Own damage

     Column45              Column46             Column47  \
0   CoverType            CoverGroup              Section
1  Windscreen  Comprehensive - Taxi  Motor Comprehensive
2  Windscreen  Comprehensive - Taxi  Motor Comprehensive
3  Windscreen  Comprehensive - Taxi  Motor Comprehensive
4  Own Damage  Comprehensive - Taxi  Motor Comprehensive

                          Column48        Column49           Column50  \
0                          Product  StatutoryClass  StatutoryRiskType
1  Mobility Metered Taxis: Monthly      Commercial      IFRS Constant
2  Mobility Metered Taxis: Monthly      Commercial      IFRS Constant
3  Mobility Metered Taxis: Monthly      Commercial      IFRS Constant
4  Mobility Metered Taxis: Monthly      Commercial      IFRS Constant

           Column51       Column52
0      TotalPremium    TotalClaims
1   21.929824561403  .000000000000
2   21.929824561403  .000000000000
3     .000000000000  .000000000000
4  512.848070175439  .000000000000

[5 rows x 52 columns]

In [23]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000099 entries, 0 to 1000098
Data columns (total 52 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   Column1   1000099 non-null  object
 1   Column2   1000099 non-null  object
 2   Column3   1000099 non-null  object
 3   Column4   1000099 non-null  object
 4   Column5   1000099 non-null  object
 5   Column6   1000099 non-null  object
 6   Column7   1000099 non-null  object
 7   Column8   1000099 non-null  object
 8   Column9   854138 non-null   object
 9   Column10  959867 non-null   object
 10  Column11  991840 non-null   object
 11  Column12  990563 non-null   object
 12  Column13  1000099 non-null  object
 13  Column14  1000099 non-null  object
 14  Column15  1000099 non-null  object
 15  Column16  1000099 non-null  object
 16  Column17  1000099 non-null  object
 17  Column18  1000099 non-null  object
 18  Column19  999547 non-null   object
 19  Column20  999547 non-null   object
 20  Column21  1000099 non-null  object
 21  Column22  999547 non-null   object
 22  Column23  999547 non-null   object
 23  Column24  999547 non-null   object
 24  Column25  999547 non-null   object
 25  Column26  999547 non-null   object
 26  Column27  999547 non-null   object
 27  Column28  999547 non-null   object
 28  Column29  999547 non-null   object
 29  Column30  220457 non-null   object
 30  Column31  1000099 non-null  object
 31  Column32  1000099 non-null  object
 32  Column33  1000097 non-null  object
 33  Column34  846804 non-null   object
 34  Column35  358198 non-null   object
 35  Column36  358198 non-null   object
 36  Column37  358198 non-null   object
 37  Column38  699 non-null      object
 38  Column39  1 non-null        object
 39  Column40  1000099 non-null  object
 40  Column41  1000099 non-null  object
 41  Column42  1000099 non-null  object
 42  Column43  1000099 non-null  object
 43  Column44  1000099 non-null  object
 44  Column45  1000099 non-null  object
 45  Column46  1000099 non-null  object
 46  Column47  1000099 non-null  object
 47  Column48  1000099 non-null  object
 48  Column49  1000099 non-null  object
 49  Column50  1000099 non-null  object
 50  Column51  1000099 non-null  object
 51  Column52  1000099 non-null  object
dtypes: object(52)
memory usage: 396.8+ MB

In [22]:
check_missing_value(data)

Column9      145961
Column10      40232
Column11       8259
Column12       9536
Column19        552
Column20        552
Column22        552
Column23        552
Column24        552
Column25        552
Column26        552
Column27        552
Column28        552
Column29        552
Column30     779642
Column33          2
Column34     153295
Column35     641901
Column36     641901
Column37     641901
Column38     999400
Column39    1000098
dtype: int64

Column9      145961
Column10      40232
Column11       8259
Column12       9536
Column19        552
Column20        552
Column22        552
Column23        552
Column24        552
Column25        552
Column26        552
Column27        552
Column28        552
Column29        552
Column30     779642
Column33          2
Column34     153295
Column35     641901
Column36     641901
Column37     641901
Column38     999400
Column39    1000098
dtype: int64